@import '../../index.scss';

.footer {
    background-color: $primary-bg-color;
    color: white;
    padding: $common-padding;
    margin: auto;
    margin-top: 30px;
    .nav-menu {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        margin: 20px auto;
        div{
            margin: 10px auto;
        }
    }
    .copyright {
        opacity: 0.3;
    }
    .about-company {
        opacity: 0.5;
        margin: 50px auto;
    }
    .social-media {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 30px auto;
        .icon{
            &:hover {
                transform: scale(1.5);
                transition: all 0.5s;
            }
        }
    }
}