@import "../index.scss";
.landing-page {
  background-color: $primary-bg-color;
  color: white;

  .new-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/home/mobile/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    aspect-ratio: 1 / 1.6;
    padding: 20px;

    .title {
      letter-spacing: 1em;
      color: grey;
      text-align: center;
      text-transform: uppercase;
    }

    .about-new-product {
      font-size: $font-size;
      margin-bottom: 20px;
   
    }
  }
}
